* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  background-color: navy;
  margin: 20px;
  width: 80%;
  padding: 20px 50px;
  color: aliceblue;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topH1 {
  font-size: 5rem;
  width: 50%;
}
.topP {
  font-size: 2rem;
  width: 50%;
}
.btn {
  background-color: aliceblue;
  border: 0;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
}

.bottom {
  margin: 20px;
  width: 80%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 20%;
}